<template name="salesPage">
    <!-- {{> saleMenus}}
    {{> saleButons}}
    {{> saleForms}} -->
    <div class="row">
        <div class="col s12">
            {{> menu}}
        </div>
        <div class="col s10">
            <div class="card">
                {{> saleButons}}
                {{> saleForms}}
                {{> saleNow}}
            </div>
        </div>
        <div class="col s2">
            <div class="card">
                {{> saleGoodTrade}}
            </div>
        </div>
        <!-- <div class="col s2">
            {{> info}} 
        </div> -->
    </div>

    <!-- <div class="row">
        <div class="col s12">
            <div class="card">
                {{> saleMenus}}
                {{> saleButons}}
                {{> saleForms}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                    {{> saleGoodTrade}}
            </div>
        </div>
    </div> -->
    



    
    <!-- <div class="row">
        <div class="grid-example col s12">
            <div class="card">
                    <span class="flow-text">I am always full-width (col s12)</span>
            </div>
        </div>
        <div class="grid-example col s12 m6">
            <div class="card">
                    <span class="flow-text">I am full-width on mobile (col s12 m6)</span>
            </div>
            
        </div>
    </div> -->
    
  <!-- <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card">
                    <p>s12</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card">
                    <p>col s12 m4 l2</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l8">
            <div class="card">
                <div class="card">
                    <p>col s12 m4 l8</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card">
                    <p>col s12 m4 l2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card">
                        <p>col s12 m6 l3</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card">
                        <p>col s12 m6 l3</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card">
                        <p>col s12 m6 l3</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card">
                        <p>col s12 m6 l3</p>
                    </div>
                </div>
            </div>
        </div> -->
</template>

<template name="saleMenus">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
                <i class="material-icons right">open_in_browser</i>
            </a>
            <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">หน้าหลัก</a></li>
                <li><a href="badges.html">รายงาน</a></li>
                <li><a href="collapsible.html">ส่งเสริมการขาย</a></li>
                <li><a href="mobile.html">ตั้งค่า</a></li>
                <li><a href="mobile.html">ช่วยเหลือ</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="sass.html">หน้าหลัก</a></li>
                <li><a href="badges.html">รายงาน</a></li>
                <li><a href="collapsible.html">ส่งเสริมการขาย</a></li>
                <li><a href="mobile.html">ตั้งค่า</a></li>
                <li><a href="mobile.html">ช่วยเหลือ</a></li>
            </ul>
        </div>
    </nav>
</template>

<template name="saleButons">
    <div class="row">
        <button class="waves-effect waves-light green darken-1 btn-large">เริ่มใหม่
            <i class="material-icons left">refresh</i>
        </button>
        <button class="waves-effect waves-light blue darken-1 btn-large">บิลล่าสุด
            <i class="material-icons left">open_in_browser</i>
        </button>
        <button class="waves-effect waves-light red darken-1 btn-large">พักบิล
            <i class="material-icons left">pause_circle_outline</i>
        </button> 
        <button class="waves-effect waves-light blue-grey darken-1 btn-large">พิมพ์รายงานย่อย
            <i class="material-icons left">printer</i>
        </button>
    </div>
    <div class="row">
        <h2>Learn Meteor!</h2>
        <ul>
            {{#each links}}
                <li><a href="{{url}}" target="_blank">{{title}}</a></li>
                <h2>Learn Meteor!</h2>
            {{/each}}
        </ul>
    </div>
</template>

<template name="saleForms">
    <div class="row">
        <div class="col s2">
            <label>ช่องทางขาย</label>
            <select class="browser-default">
                <option value="" disabled selected>เลือกช่องทางขาย</option>
                <option value="1">หน้าร้าน</option>
                <option value="2">อนนไลน์</option>
            </select>
        </div>

        <div class="col s2">
            <label>พนักงานขาย</label>
            <select class="browser-default">
                <option value="" disabled selected>เลือกพนักงานขาย</option>
                <option value="1">ลุกมัน อะแดม</option>
                <option value="2">นุรอามานี โต๊ะยาโง๊ะ</option>
            </select>
        </div>

        <div class="col s2">
            <label>สำนักงานสาขา</label>
            <select class="browser-default">
                <option value="" disabled selected>เลือกสาขา</option>
                <option value="1">เคหะหนองจอก</option>
                <option value="2">ศนพ</option>
            </select>
        </div>
        
        <div class="col s2">
            <label>เงื่อนไข</label>
            <select class="browser-default">
                <option value="1">ราคปลีก</option>
                <option value="2">ราคาตัวแทน</option>
                <option value="2">ราคาส่ง</option>
            </select>
        </div>
        
        <div class="col s2">
            <div class="switch">
                <label>
                vat
                <input type="checkbox">
                <span class="lever"></span>
                no vat
                </label>
            </div>
        </div>

        <div class="col s2">
            <input type="text" class="datepicker"> 
        </div>
    </div>
    
    <div class="row">   
        <div class="row">
            <div class="input-field col s2">
                <input value="" id="first_name2" type="text" class="validate">
                <label class="active" for="first_name2">รหัสสมาชิก</label>
            </div>
            <!-- Modal Trigger -->
            <button class="waves-effect waves-light blue darken-1 btn-large modal-trigger" href="#modal1">ค้นหา
                <i class="material-icons left">search</i>
            </button>
            <!-- Modal Structure -->
            <!-- <div id="modal1" class="modal"> -->
            <!-- <div id="modal1" class="modal bottom-sheet"> -->
            <div id="modal1" class="modal modal-fixed-footer">
            <!-- <div id="modal1" class="modal"> -->
                <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                    <div class="col s12">
                        <label>เงื่อนไข</label>
                        <select class="browser-default">
                            <option value="1">ราคปลีก</option>
                            <option value="2">ราคาตัวแทน</option>
                            <option value="2">ราคาส่ง</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  class="modal-action modal-close waves-effect waves-green btn-flat ok">ok</button>
                    <button  class="modal-action modal-close waves-effect waves-green btn-flat cancle">Cancle</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s1">
                <input value="" id="first_name2" type="text" class="validate">
                <label class="active" for="first_name2">จำนวนสิ้นค้า</label>
            </div>
            <div class="input-field col s2">
                <input value="" id="first_name2" type="text" class="validate">
                <label class="active" for="first_name2">รหัสสินค้า</label>
            </div>
            <button class="waves-effect waves-light blue darken-1 btn-large">ค้นหา
                <i class="material-icons left">search</i>
            </button>
            <button class="waves-effect waves-light blue darken-1 btn-large">บันทึกรายการ
                <i class="material-icons left">add_circle_outline</i>
            </button>
        </div>       
    </div>
</template>

<template name="saleGoodTrade">
    <div class="row">
        <table class="striped">
            <thead>
                <tr>
                    <th><h4 class="center-align">สิ้นค้าขายบ่อย</h4></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                <td>แป้ง</td>
                </tr>
                <tr>
                <td>ผงซักฟอก</td>
                </tr>
                <tr>
                <td>ยาสีฟัน</td>
                </tr>
            </tbody>
        </table>

    </div>
</template>

<template name="saleNow">
    <div class="row">
        <table class="striped">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>รหัสสินค้า</th>
                    <th>รายการสินค้า</th>
                    <th>ราคา</th>
                    <th>จำนวน</th>
                    <th>รวม</th>
                </tr>
            </thead>

            <tbody>
                {{#each links}}
                <tr>
                    <td>1</td>
                    <td>123456789</td>
                    <td>เครื่องสำอาง</td>
                    <td>100</td>
                    <td>2</td>
                    <td>200</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
  